.common-button{
   border-radius: 29px;
   font-size: 14px;
   margin-right: 8px;
   padding:5px 8px;
   text-transform: capitalize;
   cursor: pointer;
   transform: all 0.3s linear;
}

.view{
    color: var(--view-btn-color);
    border: 1px solid var(--view-btn-color);
}
.view:hover{
    background-color: var(--view-btn-color);
    color: var(--card-body-bg);
    border: 1px solid var(--view-btn-color);
}
.remove{
    color: var(--remove-btn-color);
    border: 1px solid var(--remove-btn-color);
}
.remove:hover{
    background-color: var(--remove-btn-color);
    color: var(--card-body-bg);
    border: 1px solid var(--remove-btn-color);
}

@media only screen and (max-width:480px) {
    .common-button {
      margin-bottom: 5px;
    }
}
