.card{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 195px;
   border-radius: 5px;
   background-color: #fff;
   padding: 20px 20px 10px 20px;
}

.variant{
    display: flex;
    align-items: center;
}
.automated{
    color: var(--automated-origin-text);
}
.manual{
    color: var(--manual-origin-text);
}
.card-footer{
    font-size: 10px;
}
.button-container,
.variant{
    font-size: 14px;
}


